<h1 class=" text-2xl font-bold mb-6"><%= @board.title %></h1>
<div class="flex gap-4">
  <% @board.lists.each do |list| %>
    <div class="bg-neutral-500 p-4 rounded flex flex-col gap-4 shadow-md min-w-[350px]">
      <h2 class="font-bold"><%= list.title %></h2>
      <%= button_to "Delete", board_list_path(@board, list), method: :delete, class: "btn btn-error" %>
    </div>
  <% end %>
  <%= form_with model: [@board, List.new], local: true do |form| %>
    <div class="flex  mr-4">
      <%= form.text_field :title, placeholder: "Nowa lista", class: "text-neutral-700 border p-[7px] pr-[5rem] rounded min-w-[300px]" %>
      <%= form.submit "Dodaj", class: "btn btn-primary -ml-18" %>
    </div>
  <% end %>
</div>