<h1 class="text-2xl font-bold mb-6"><%= @board.title %></h1>
<div class="flex gap-4 items-start">
  <% @board.lists.each do |list| %>
    <div class="bg-neutral-900 p-3 rounded-xl flex flex-col gap-2 shadow-md min-w-[350px] relative">
      <div class="absolute top-3 right-3 transale dropdown dropdown-start">
        <button class="flex items-center justify-center ml-auto rounded-full w-[40px] bg-neutral-800 hover:bg-neutral-500 transition-all">
          <%= lucide_icon("ellipsis", class: "w-4") %>
        </button>
        <ul class="dropdown-content menu w-52 rounded-box bg-base-100 shadow-sm min-w-[150px] border border-neutral-600">
          <li class="min-w-[150px]"><%= button_to "Usuń liste", board_list_path(@board, list), method: :delete, class:"text-red-400 min-w-[150px] text-left hover:cursor-pointer" %></li>
        </ul>
      </div>
      <h2 class="font-bold mb-2"><%= list.title %></h2>
      <!-- Karty przypisane do tej listy -->
      <% list.cards.each do |card| %>
        <div class="relative group">
          <%= link_to edit_board_list_card_path(@board, list, card) do %>
            <div class="bg-neutral-700 hover:bg-neutral-500 p-2 rounded shadow flex flex-col transition-all">
              <p class="font-semibold text-neutral-200"><%= card.title %></p>
              <% if card.description && card.description.body.to_s.present? %>
                <div class="line-clamp-5 text-neutral-200 mt-3"><%= card.description %></div>
              <% end %>
            </div>
          <% end %>
          <div class="absolute top-1 right-3 transale dropdown dropdown-start">
            <button class="group-hover:flex hidden active:flex focus:flex items-center justify-center ml-auto rounded-full p-1 bg-neutral-600 hover:bg-neutral-500 transition-all">
              <%= lucide_icon("ellipsis-vertical", class: "w-4") %>
            </button>
            <ul class="dropdown-content menu w-52 rounded-box bg-base-100 shadow-sm min-w-[150px] border border-neutral-600">
              <li class="min-w-[150px]"><%= button_to "Usuń karte", board_list_card_path(@board, list, card), method: :delete, class:"text-red-400 min-w-[150px] text-left hover:cursor-pointer" %></li>
            </ul>
          </div>
        </div>
      <% end %>
      <!-- Formularz do dodania karty do listy -->
      <%= form_with model: [@board, list, Card.new] do |form| %>
        <div class="flex gap-2">
          <%= form.text_field :title, placeholder: "Nowa karta...", class: "input" %>
          <%= form.submit "Stwórz kartę", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  <% end %>
  <%= form_with model: [@board, List.new] do |form| %>
    <div class="flex gap-2">
      <%= form.text_field :title, placeholder: "Nowa lista", class: "input min-w-[300px]" %>
      <%= form.submit "Stwórz listę", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>